[submodule "imgui"]
	path = imgui
	url = https://github.com/corentin-plouet/imgui.git
[submodule "ImGuiColorTextEdit"]
	path = ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
